<div class="wallet-container">
    <h2>TK Cüzdan</h2>
    <div class="balance-info">
      <div class="balance-item">
        <img src="assets/images/balance.png" alt="Balance">
        <p>Toplam bakiye:</p>
        <p>TRY 50,000</p>
      </div>
      <div class="balance-item">
        <img src="assets/images/tkmoney.png" alt="TK Money">
        <p>TK para:</p>
        <p>TRY 50,000</p>
      </div>
    </div>
    <div class="buttons">
      <button class="info-button">Cüzdan Bilgileri</button>
      <button (click)="goToFlight()" class="add-money-button">Para Ekle</button>
    </div>
    <div class="credit-options-container">
      <h2>Seyahatleriniz için Kredi İmkanı</h2>
      <div class="credit-option">
          <div class="bank-name">Banka A</div>
          <div class="interest-rate">Faiz Oranı: %2</div>
          <div class="monthly-installment">Aylık Taksit: 2.500 TL</div>
      </div>
      <div class="credit-option">
          <div class="bank-name">Banka B</div>
          <div class="interest-rate">Faiz Oranı: %2</div>
          <div class="monthly-installment">Aylık Taksit: 2.500 TL</div>
      </div>
  </div>
</div>

  
  